%h2= "#{@group.teacher_first_name} #{@group.teacher_last_name}"

.span6
  %table.table.table-striped#show_class_table
    %thead
      %tr
        %th
          Students
        %th
          School
        %th
          Assignments

        -@group.students.each do |student|
          %tr
            %td
              = link_to student.name, student_path(student.id)
            %td
              = student.school.name
            %td
              %span.label
                = link_to "show assignments", assignments_student_path(student), class: "button_link"



